:root {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #000;
}

body {
    width: 50vh;
    height: 100vh;
    margin: auto;
    background: linear-gradient(#333, #000);
}

div {
    width: 250px;
    height: 400px;
    border-radius: 100% 100% 200px 200px;
    background: linear-gradient(#D00, #900);
    border: 5px solid #CC3;
    margin: auto;
}

h1 {
    text-align: center;
    color: #FFF;
}